@model Bookk;

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <div class="list-group">
                <a href="/home/index" class="list-group-item list-group-item-action active" aria-current="true">
                    Geri qayit
                </a>
                <a href="#" class="list-group-item list-group-item-action">@Model.Price</a>
                <a href="#" class="list-group-item list-group-item-action">@Model.Author</a>
                <a href="#" class="list-group-item list-group-item-action">@Model.Genre</a>
            </div>
        </div>
    </div>
</div>

